@font-face {
    font-family: "BowFolk-Book-Pro";
    src: url("../fonts/BowFolk-Book-Pro.woff") format('woff');
}

@font-face {
    font-family: "BowFolk-Book-Pro";
    src: url("../fonts/BowFolkPro-Bold_0.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "BowFolk-Book-Pro";
    src: url("../fonts/BowFolkPro-BoldIta.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BowFolk-Book-Pro";
    src: url("../fonts/BowFolk-BookItal-Pro.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "BowFolk-Hairline";
    src: url("../fonts/BowFolkPro-Hairline.woff") format('woff');
}

@font-face {
    font-family: "BowFolk-Hairline";
    src: url("../fonts/BowFolkPro-Light_0.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "BowFolk-Hairline";
    src: url("../fonts/BowFolkPro-LightIta.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BowFolk-Hairline";
    src: url("../fonts/BowFolkPro-HairlineIta.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "BowFolk-Semibold";
    src: url("../fonts/BowFolkPro-Semibold.woff") format('woff');
}

@font-face {
    font-family: "BowFolk-Semibold";
    src: url("../fonts/BowFolkPro-SemiboldIta.woff") format('woff');
    font-style: italic;
}
